@import 'tailwindcss';

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
  --background: hsl(220 14% 96%);
  --row-table: hsl(210 20% 98%);
  --foreground: hsl(222.2 84% 4.9%);
  --border: hsl(220 13% 91%);
  --white: hsl(0 0% 100%);
  --tab-line: hsl(218 11% 65%);
  --input: hsl(0 0% 88%);
  --primary-50: hsl(356 63% 95%);
  --primary-100: hsl(355 64% 89%);
  --primary-200: hsl(355 63% 79%);
  --primary-300: hsl(355 64% 68%);
  --primary-400: hsl(355 64% 57%);
  --primary-500: hsl(355 73% 47%);
  --primary-600: hsl(355 73% 37%);
  --primary-700: hsl(355 73% 28%);
  --primary-800: hsl(355 73% 9%);
  --primary-900: hsla(355, 73%, 9%);
  --success-500: hsl(142 71% 45%);
  --success-600: hsl(158, 64%, 33%);
  --error-500: hsl(0 84% 60%);
  --error-600: hsl(355 73% 37%);
  --blue-50: hsl(201 100% 94%);
  --blue-500: hsl(200 91% 43%);
  --radius: 0.5rem;
  --neutral-50: hsla(210, 20%, 98%, 1);
  --neutral-100: hsla(220, 14%, 96%, 1);
  --neutral-200: hsla(220, 13%, 91%, 1);
  --neutral-300: hsla(218, 10%, 84%, 1);
  --neutral-400: hsla(218, 11%, 65%, 1);
  --neutral-500: hsla(224, 8%, 46%, 1);
  --neutral-600: hsla(215, 14%, 34%, 1);
  --neutral-700: hsla(217, 19%, 27%, 1);
  --neutral-800: hsla(215, 28%, 17%, 1);
  --neutral-900: hsla(221, 39%, 11%, 1);
  --sidebar-background: hsla(232, 13%, 14%, 1);
  --sidebar-disabled-top: hsla(228, 9%, 22%, 1);
  --sidebar-item-active: hsla(358, 72%, 28%, 1);
  --sidebar-item-active-border: hsla(0, 92%, 42%, 1);
  --tag-success: hsl(158, 64%, 33%);
  --tag-warning: hsl(46, 84%, 45%);
  --tag-info: hsl(205, 100%, 49%);
  --tag-default: hsl(30, 1%, 43%);
  --tag-inactive: hsl(0, 0%, 86%);
  --chart-bar: hsl(193, 100%, 39%);
  --chart-1: hsl(99, 100%, 37%);
  --chart-2: hsl(292, 96%, 42%);
  --chart-3: hsl(359, 50%, 77%);
  --chart-4: hsl(203, 100%, 23%);
  --chart-5: hsl(51, 100%, 45%);
  --chart-6: hsl(189, 90%, 64%);
  --chart-7: hsl(94, 38%, 59%);
  --chart-8: hsl(215, 100%, 62%);
  --chart-9: hsl(358, 69%, 42%);
  --chart-10: hsl(249, 73%, 65%);
}

.dark {
  --background: hsl(222.2 84% 4.9%);
  --row-table: hsl(212, 21%, 14%);
  --foreground: hsl(210 20% 98%);
  --border: hsl(216, 19%, 30%);
  --white: hsl(222.2 84% 4.9%);
  --tab-line: hsl(216, 19%, 30%);
  --input: hsl(216, 19%, 30%);
  --primary-50: hsl(355, 64%, 15%);
  --primary-100: hsl(355, 64%, 20%);
  --primary-200: hsl(355, 63%, 25%);
  --primary-300: hsl(355, 64%, 30%);
  --primary-400: hsl(355, 64%, 35%);
  --primary-500: hsl(355 73% 52%);
  --primary-600: hsl(355 73% 62%);
  --primary-700: hsl(355 73% 72%);
  --primary-800: hsl(355 64% 80%);
  --primary-900: hsl(355, 64%, 85%);
  --success-500: hsl(142 71% 65%);
  --success-600: hsl(158, 64%, 53%);
  --error-500: hsl(0 84% 80%);
  --error-600: hsl(355 73% 67%);
  --blue-50: hsl(201 100% 24%);
  --blue-500: hsl(200 91% 63%);
  --radius: 0.5rem;
  --neutral-50: hsla(221, 39%, 11%, 1);
  --neutral-100: hsla(215, 28%, 17%, 1);
  --neutral-200: hsla(217, 19%, 27%, 1);
  --neutral-300: hsla(215, 14%, 34%, 1);
  --neutral-400: hsla(224, 8%, 46%, 1);
  --neutral-500: hsla(218, 11%, 65%, 1);
  --neutral-600: hsla(220, 13%, 91%, 1);
  --neutral-700: hsla(220, 14%, 96%, 1);
  --neutral-800: hsla(210, 20%, 98%, 1);
  --neutral-900: hsla(0, 0%, 100%, 1);
  --sidebar-background: hsla(232, 13%, 24%, 1);
  --sidebar-disabled-top: hsla(228, 9%, 32%, 1);
  --sidebar-item-active: hsla(358, 72%, 48%, 1);
  --sidebar-item-active-border: hsla(0, 92%, 62%, 1);
  --tag-success: hsl(158, 64%, 53%);
  --tag-warning: hsl(46, 84%, 65%);
  --tag-info: hsl(205, 100%, 69%);
  --tag-default: hsl(30, 1%, 63%);
  --tag-inactive: hsl(0, 0%, 66%);
  --chart-bar: hsl(193, 100%, 59%);
  --chart-1: hsl(99, 100%, 57%);
  --chart-2: hsl(292, 96%, 62%);
  --chart-3: hsl(359, 50%, 87%);
  --chart-4: hsl(203, 100%, 43%);
  --chart-5: hsl(51, 100%, 65%);
  --chart-6: hsl(189, 90%, 84%);
  --chart-7: hsl(94, 38%, 79%);
  --chart-8: hsl(215, 100%, 82%);
  --chart-9: hsl(358, 69%, 62%);
  --chart-10: hsl(249, 73%, 85%);
}

@theme inline {
  --color-background: var(--background);
  --color-row-table: var(--row-table);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-white: var(--white);
  --color-tab-line: var(--tab-line);
  --color-input: var(--input);
  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-success: var(--success-500);
  --color-success-600: var(--success-600);
  --color-error: var(--error-500);
  --color-error-600: var(--error-600);
  --color-blue-50: var(--blue-50);
  --color-blue: var(--blue-500);
  --radius: var(--radius);
  --color-neutral-50: var(--neutral-50);
  --color-neutral-100: var(--neutral-100);
  --color-neutral-200: var(--neutral-200);
  --color-neutral-300: var(--neutral-300);
  --color-neutral-400: var(--neutral-400);
  --color-neutral: var(--neutral-500);
  --color-neutral-600: var(--neutral-600);
  --color-neutral-700: var(--neutral-700);
  --color-neutral-800: var(--neutral-800);
  --color-neutral-900: var(--neutral-900);
  --color-sidebar-background: var(--sidebar-background);
  --color-sidebar-disabled-top: var(--sidebar-disabled-top);
  --color-sidebar-item-active: var(--sidebar-item-active);
  --color-sidebar-item-active-border: var(--sidebar-item-active-border);
  --color-tag-success: var(--tag-success);
  --color-tag-warning: var(--tag-warning);
  --color-tag-info: var(--tag-info);
  --color-tag-default: var(--tag-default);
  --color-tag-inactive: var(--tag-inactive);
  --color-chart-bar: var(--chart-bar);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-chart-6: var(--chart-6);
  --color-chart-7: var(--chart-7);
  --color-chart-8: var(--chart-8);
  --color-chart-9: var(--chart-9);
  --color-chart-10: var(--chart-10);
}
